@import "../../styles/custom.scss";

.image-small {
  width: 100%; /* Reduce el ancho al 50% del tamaño original */
  margin: 0 auto; /* Margen automático para centrar el contenedor */
}

.carousel-container {
  max-width: 80%; /* Establece el ancho máximo al 50% del ancho de la página */
  margin: 0 auto;
  margin-top: 0.1rem; /* Margen automático para centrar el contenedor */
  margin-left: 0rem;
  margin-bottom: 0rem;
}

@media (max-width: 768px) {
  .image-small {
    width: 100%; /* Restablece el ancho al 100% para adaptarse a pantallas pequeñas */
  }

  .carousel-container {
    max-width: 100%; /* Restablece el ancho máximo al 100% para adaptarse a pantallas pequeñas */
    margin: 0 auto;
    margin-top: 0.1rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
