.image-small {
  width: 100%; /* Reduce el ancho al 50% del tamaño original */
  margin: 0 auto; /* Margen automático para centrar el contenedor */
}

.carousel-container {
  max-width: 90%; /* Establece el ancho máximo al 50% del ancho de la página */
  margin: 0 auto;
  margin-top: 3rem; /* Margen automático para centrar el contenedor */
  margin-left: -1.5rem;
}
