@import "../../styles/custom.scss";

.card-container {
  width: 100%;
  margin-top: 2rem;
  margin-left: 5rem;
}

.background-container {
  background-color: #b59b3c;
  border-radius: 30px;
}
